<!DOCTYPE html> 
<html lang="ja">
 <head>
  <meta charset="UTF-8">
 </head>
<h1>dis tri</h1>

    <body>

    
    <div class="start">
       <b>Concept</b>
       <br>
       <span class="font-small">
        どこへいこう？？
        <br>
        どこに何があるんだろう？
        <br>
        旅と発見がこのサイトのコンセプトです
        </span>
        <br>
        <b>discover（発見）+trip（旅）→dis tri</b>
        
    </div>
        
        
        
    </body>
    

    </html>
