<div class="intoro">
<h5>診断結果</h5>
<p>あなたにおすすめの場所は…</p>
</div>
<div class="tweet-container">
<div class="tweet">
    <% if @travel.question == "11111" %>
    <h1>沖縄</h1>
    <p>富士山のふもとにあり温泉街など見どころ沢山！！</p>
    <p>伊豆では雅な街並みを、箱根では芦ノ湖で優雅に遊覧船クルーズはいかが？</p>
　　<p>豆知識</p>
　　<p></p>
    <% elsif @travel.question == "11112" %>
    <h1>長野</h1>
    <p>上高地や軽井沢など日本有数の避暑地があり、散策コースが充実してて大自然を満喫できます。</p>
    <p>信州そばにおやき、山賊焼きなどグルメも盛りだくさん！！</p>
　　<p>豆知識</p>
　　<p>山賊焼きは鶏揚げる（とりあげる）ことから山賊を連想して名付けられたのだそう</p>

    <% elsif @travel.question == "11121" %>
    <h1>青森</h1>
    <p>避暑地としてもちろんのこと十和田湖は透明度の高い美しい湖面が見られるほか、近くには温泉もあります。</p>
    <p>さらに県内でいろんなねぶた祭りが見られます。</p>

    <% elsif @travel.question == "11122" %>
    <h1>那須高原（栃木）</h1>
    <p>避暑地として人気のあり、乗馬体験や近くにどうぶつ王国があって動物と触れ合うことができます。</p>
    <p>牧場で搾りたて牛乳のアイスクリーム作りはいかが？</p>

    <% elsif @travel.question == "11211" %>
    <h1>北海道</h1>
    <p>海の幸などグルメ、スキー、スノボのレジャーなど盛りだくさん</p>
    <p>札幌では雪まつりやイルミネーションも行われます。</p>

    <% elsif @travel.question == "11221" %>
    <h1>山形</h1>
    <p>フレッシュで優しい香り</p>
    <p>アンチエイジングにも最適</p>

    <% elsif @travel.question == "11222" %>
    <h1>石川</h1>
    <p>特徴的で甘い香り</p>
    <p>万人受けしやすい</p>

    <% elsif @travel.question == "12111" %>
    <h1>大阪</h1>
    <p>しっかりとした優しい香り</p>
    <p>浄化作用があり。気持ちを落ち着かせてくれる</p>

    <% elsif @travel.question == "12121" %>
    <h1>福岡</h1>
    <p>しっかりとした優しい香り</p>
    <p>浄化作用があり。気持ちを落ち着かせてくれる</p>    

    <% elsif @travel.question == "12211" %>
    <h1>新潟</h1>
    <p>きりりとした強めの香りが特徴的</p>
    <p>美容効果が高い</p>

    <% elsif @travel.question == "12221" %>
    <h1>岩手</h1>
    <p>柑橘系の果実</p>
    <p>甘くてフレッシュな、万能な香料</p>

    <% elsif @travel.question == "12222" %>
    <h1>宮城</h1>
    <p>雄のジャコウジカの腹部にある香嚢から抽出した香料</p>
    <p>官能的で重い香り</p>

    <% elsif @travel.question == "21111" %>
    <h1>インドネシア</h1>
    <p>マッコウクジラの結石から抽出した香料</p>
    <p>魅惑的で色気のある香り</p>

    <% elsif @travel.question == "21112" %>
    <h1>アメリカ西部、南部、ハワイ</h1>
    <p>甘いスパイスの香り</p>
    <p>香水のアクセントとしてよく使われる</p>

    <% elsif @travel.question == "21121" %>
    <h1>モルディブ</h1>
    <p>甘くて官能的な香り</p>
    <p>上品で年齢を問わず人気が高い</p>

    <% elsif @travel.question == "21122" %>
    <h1>ギリシャ</h1>
    <p>色気のある濃厚で甘い香り</p>
    <p>恋愛に効果があり</p>

    <% elsif @travel.question == "21211" %>
    <h1>韓国</h1>
    <p>お香としてよく使われる白檀の香り</p>
    <p>集中力を高める効果もあり</p>
    
    <% elsif @travel.question == "21221" %>
    <h1>カナダ</h1>
    <p>お香としてよく使われる白檀の香り</p>
    <p>集中力を高める効果もあり</p>

    <% elsif @travel.question == "21222" %>
    <h1>フィンランド</h1>
    <p>お香としてよく使われる白檀の香り</p>
    <p>集中力を高める効果もあり</p>

    <% elsif @travel.question == "22111" %>
    <h1>タイ</h1>
    <p>お香としてよく使われる白檀の香り</p>
    <p>集中力を高める効果もあり</p>

    <% elsif @travel.question == "22112" %>
    <h1>エジプト</h1>
    <p>お香としてよく使われる白檀の香り</p>
    <p>集中力を高める効果もあり</p>

    <% elsif @travel.question == "22122" %>
    <h1>フランス</h1>
    <p>お香としてよく使われる白檀の香り</p>
    <p>集中力を高める効果もあり</p>

    <% elsif @travel.question == "22211" %>
    <h1>中国</h1>
    <p>お香としてよく使われる白檀の香り</p>
    <p>集中力を高める効果もあり</p>

    <% elsif @travel.question == "22221" %>
    <h1>ポーランド</h1>
    <p>お香としてよく使われる白檀の香り</p>
    <p>集中力を高める効果もあり</p>

    <% elsif @travel.question == "22222" %>
    <h1>ドイツ</h1>
    <p>お香としてよく使われる白檀の香り</p>
    <p>集中力を高める効果もあり</p>

    <% end %>

</div>